*{
    background-color: black;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    border: 1px rgb(243, 239, 239) solid;
    border-radius: 20px;
}
.city{
    border: 1px solid white;
}
a {
    text-decoration: none;
}
ul{
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;

}
li{
    list-style: none;
}
img {
    width: 500px;
    height: 400px;
}
.card{
    border: 1px solid white;
}